@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


html{
    font-family: 'PT Sans', sans-serif;
}

p{
    line-height: 180%;
}

img{
    display: block;
}

/* utility classes */
.container{
    width: 80%;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    border-radius: 20px;
    padding:10px 60px 10px 60px; 
    font-size: 1.1rem;
    font-weight: bold;
}
.blue-bg{
    background-color:#0084FD;
    color: white;
}

/* header elements */
header{
    background-color:#0084FD;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header nav ul{
    list-style-type: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul:last-of-type{
    display: flex;
    gap: 2em;
    align-items: center;
}

header nav #logo{
    padding-block: 1rem;
}

/* nav buttons */
.nav-btn{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding:0.5rem 0.6rem 0.5rem 0.6rem;
}
.nav-burger{
    font-size: 2rem; 
}

/* second list not visible */
header nav ul:last-of-type li:not(header nav ul:last-of-type li:last-of-type){
    display: none;
}

/* cta section */
main section#cta{
    padding-top: 120px;   
    padding-bottom: 80px;
}


section#cta div.container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 2em;
}


section#cta .box-cta{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    background-color: #B5DDFF;
    border-radius: 20px;
    width: 100%;
}

section#cta .box-cta .info-cta{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    text-align: center;
    padding: 2em;
}

section#cta .box-cta .info-cta h2{
    color: #0084FD;
    font-size: 2rem;
}
section#cta .box-cta .info-cta p{
    color: #5F7487;
    font-weight: bold;
    font-size: 1.2rem;
}

section#cta .box-cta .info-cta a.btn{
    align-self: center;
}

i.fa-apple{
    margin-right: 10px;
}

section#cta .box-cta figure{
    width: 100%;
    display: flex;
    justify-content: center;
}

section#cta .box-cta figure img{
    width: 85%;
}
section#cta .box-cta figure i{
    color: #0084FD;
    font-size: 6rem;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1220px) {
    /* navbar elements */
    .nav-burger{
        display: none; 
    }

    header nav ul:last-of-type li:not(header nav ul:last-of-type li:last-of-type){
        display: block;
    }
}

