@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


html{
    font-family: 'PT Sans', sans-serif;
}

p,
cite,
q{
    line-height: 180%;
}

img{
    display: block;
}

:root{
    --purple: #9792E4;
}
/* utility classes */
.container{
    width: 80%;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    border-radius: 20px;
    padding:10px 60px 10px 60px; 
    font-size: 1.1rem;
    font-weight: bold;
}
.blue-bg{
    background-color:#0084FD;
    color: white;
}

.white-t{
    color: white;
}
/* header elements */
header{
    background-color:#0084FD;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header nav ul{
    list-style-type: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul:last-of-type{
    display: flex;
    gap: 2em;
    align-items: center;
}

header nav #logo{
    padding-block: 1rem;
}

/* nav buttons */
.nav-btn{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding:0.5rem 0.6rem 0.5rem 0.6rem;
}
.nav-burger{
    font-size: 2rem; 
}

/* second list not visible */
header nav ul:last-of-type li:not(header nav ul:last-of-type li:last-of-type){
    display: none;
}

/* ---------------------------------------- */

/* cta section */
main section#cta{
    padding-top: 120px;   
    padding-bottom: 80px;
}

section#cta div.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section#cta .box-cta{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    background-color: #B5DDFF;
    border-radius: 50px;
    width: 100%;
}

section#cta .box-cta .info-cta{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    text-align: center;
    padding: 2em;
}

section#cta .box-cta .info-cta h2{
    color: #0084FD;
    font-size: 1.5rem;
}

section#cta .box-cta .info-cta p{
    color: #5F7487;
    font-weight: bold;
    font-size: 1.2rem;
}

section#cta .box-cta .info-cta a.btn{
    align-self: center;
}

i.fa-apple{
    margin-right: 10px;
}

section#cta .box-cta figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#cta .box-cta figure img{
    width: 100%;
}

section#cta .box-cta figure i{
    color: #0084FD;
    font-size: 6rem;
}
/* ---------------------------------------- */


/* second section - planning */
section#planning{
    padding-block: 80px;
    background-color: var(--purple);
}

section#planning div.container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section#planning .col{
    width: 100%;
}

section#planning .col h2{
    padding-block: 2em;
    font-size: 2rem;
    text-align: center;
}

section#planning .col p{
    font-size: 1.2rem;
    text-align: center;

}

section#planning .col figure img{
    width: 100%;
}

section#planning .col .card{
    display: flex;
    flex-direction: column;
    gap: 1.2em;

    border-radius: 50px;
    font-weight: 400;
    font-style: italic;
    padding: 1em;
    background-color: white;
    text-align: center;
}

section#planning .col .card a i{
    background-color: var(--purple);
    padding: 1em 1.1em 1em 1.1em;
    border-radius: 50%;
}

section#planning .col .card a{
    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------- */

/* third section - testimonials */
section#testimonials{
    padding-block: 80px;
}

section#testimonials .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
}


section#testimonials .container h2{
    font-size: 2.2rem;
    color: var(--purple);
}
section#testimonials .container h3{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
}

section#testimonials .container p{
    font-size: 1.2rem;
}


section#testimonials .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    background-color: var(--purple);
    border-radius: 50px;
    padding: 2em 1em 2em 1em;
}
section#testimonials .container .card .card-text{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

cite{
    font-style:normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

q{
    font-size: 1.3rem;
}

.circle-photo{
    width: 65%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.first{
    background-image: url(../img/testimonial1.jpg);
}
.second{
    background-image: url(../img/testimonial2.jpg);
}
.third{
    background-image: url(../img/testimonial3.jpg);
}
/* -------------------------------------------------- */

/* fourth section - features / benefits */
section#features{
    padding-bottom: 80px;
    background-color: var(--purple);
}
section#features .container > h2{
    font-size: 2.5rem;
    text-align: center;
    padding-block: 80px;
}

section#features .container .flex-c .card{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 2em;
    background-color: white;
    border-radius: 20px;
}

section#features .container .flex-c .card h2,
section#features .container .flex-c .card h3{
    color: var(--purple);
}

section#features .container .flex-c .card h2{
    font-size: 3rem;
}
section#features .container .flex-c .card h3{
    font-size: 1.6rem;
}
section#features .container .flex-c .card a{
    background-color: var(--purple);
    align-self: flex-start;
    color: white;
}

section#features .container .flex-c{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* fifth section - about us */

.about-us-guy{
    background-image: url(../img/about.jpg);
}
section#about-us{
    padding-block: 80px;
}

section#about-us .flex-c{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section#about-us .flex-c .about-us-col{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section#about-us .container h2{
    color: var(--purple);
    font-size: 2.8rem;
    text-align: center;
}

section#about-us .flex-c h3{
    color: var(--purple);
    font-size: 1.8rem;
    line-height: 150%;
}
section#about-us .flex-c a{
    background-color: var(--purple);
    padding:10px 30px 10px 30px; 
    align-self: flex-start;
}

section#about-us .flex-c .about-us-guy{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

section#about-us div.circle-photo q::after{
    display: none;
}
section#about-us div.circle-photo{
    width: 60%;
}
section#about-us div.circle-photo q::before{
    font-size: 15rem;
    color: var(--purple);
}



/* MEDIA QUERIES */


/* tablet */
@media screen and (min-width: 482px){
    /* container + first section */
    .container{
        width: 90%;
    }
    section#cta div.container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section#cta div.box-cta{
        width: calc((100% / 3) - 1em + (1em / 3));
    }
    section#cta div.big-box{
        width: calc((100% / 2) - 1em + (1em / 2));
        flex-grow: 1;
    }

    section#cta .box-cta .info-cta h2{
        font-size: 1.5rem;
    }

    section#cta .box-cta .info-cta p{
        font-size: 1rem;
    }
    
    section#cta .box-cta figure img{
        width: 70%;
    }

    section#cta .big-box figure{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-end;
    }

    section#cta .box-cta .info-cta a.btn{
        align-self: flex-start;
    }

    section#cta .big-box .info-cta{        
        text-align: left;
    }

    section#cta .box-cta figure i{
        font-size: 5rem;
    }

    /* second section */
    section#planning .col{
        width: 100%;
    }
    section#planning .col h2{
        font-size: 4.2rem;
        text-align: left;
        padding-bottom: 1em;
    }

    section#planning .col p.left-t{
        text-align: left;
    }

    /* third section - testimonials */
    
    section#testimonials .container h2{
        font-size: 2.8rem;
    }

    section#testimonials .container .card{
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }
    section#testimonials .container .card .card-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    section#testimonials .container .card .card-text cite{
        font-size: 1.2rem;
    }

    /* fourth section - features */
    section#features .container > h2{
        font-size: 2.8rem;
    }

    section#features .container .flex-c{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section#features .container .flex-c .card{
        width: calc((100% / 2) - 2em + (2em / 2));
    }
    section#features .container .flex-c .card h2{
        font-size: 3.5rem;
    }

    /* fifth section - about us */
    section#about-us .flex-c{
        flex-direction: row;
        gap: 2em;
    }

    section#about-us .container h2{
        text-align: unset;
        font-size: 4.5rem;
    }

    section#about-us .flex-c .about-us-col{
        text-align: left;   
    }
    section#about-us .flex-c .about-us-col:first-of-type{
        width: 60%
    }
    section#about-us .flex-c .about-us-col:last-of-type{
        width: 40%
    }

    section#about-us div.circle-photo{
        width: 80%;
    }
    section#about-us .flex-c .about-us-guy{
        position: relative;
    }
    section#about-us div.circle-photo q::before{
        position: absolute;
        left:10rem;
        top: 5rem;
    }
}


/* desktop */
@media screen and (min-width: 769px) {
    
    /* nav burger element */
    .nav-burger{
        display: none; 
    }
    
    header nav ul:last-of-type li:not(header nav ul:last-of-type li:last-of-type){
        display: block;
    }
    /* container + first section */
    .container{
        width: 80%;
    }
    section#cta div.big-box{
        gap: 0;
        flex-direction: row;
    }
    
    section#cta .big-box .info-cta{
        width: 50%;
    }
    section#cta .big-box figure{
        width: 50%;
    }

    section#cta .box-cta figure img{
        width: 100%;
        align-self: flex-end;
    }
    
    section#cta .box-cta .info-cta h2{
        font-size: 1.2rem;
    }

    section#cta .box-cta .info-cta p{
        font-size: 1rem;
    }
    section#cta .box-cta a{
        font-size: 0.9rem;
    }
}


@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}


